* {
    box-sizing: border-box;
}
body {
    background-image: url('img/b9r5sEL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family:  "Quicksand", sans-serif;
    font-size: 10px;
}
.keys {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
.key{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: .4rem solid black;
    border-radius: .5rem;
    width: 10rem;
    margin: 1rem;
    padding: 1rem 0.5rem;
    transition: all 0.7s ease;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
    color: white;
}
kbd {
    font-size: 2.5rem;
    font-weight: bold;
}
.sound {
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffc600;
}
.playing:hover{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}